/* You can add global styles to this file, and also import other style files */

html, body {
  padding: 0;
  margin: 0;
  font-family: "PT Mono", monospace;
  height: 100vh;
  overflow: hidden;
}

/*Main Container*/
.main-container {
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow: hidden;
}

/*Header*/
.header {
  display: flex;
  background: #222222;
  flex: 0 0 auto;

  height: 60px;
  color: #FFFFFF;
}

.branding {
  line-height: 60px;
  padding: 0 24px;
}

.logo {
  padding: 6px;
}

.logo, .logo:link, .logo:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.logo:hover {
  color: #222222;
  background: #29FCA5;
}

/*Content Container*/
.container {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 24px;
  overflow: hidden;
}

/*Chat Window*/
.chat-window {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  overflow: hidden;
}

.chat-window-header {
  flex: 0 0 auto;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background: #222222;
  color: #FFFFFF;
  margin: 6px;
}

.message-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 auto;
  padding: 12px 24px;
  overflow: hidden;
}

.messages {
  overflow: scroll;
}

.user-input {
  display: flex;
  flex: 0 0 auto;
  padding: 6px;
  border: 6px solid #222222;
}

.user-input input {
  flex: 1 1 auto;
  display: block;

  border: 1px solid #222222;
  height: 30px;

  font-size: 12px;
  padding: 0 6px;

  /*Bad practice but removing for this demo app*/
  outline: none;
}

.user-input button {
  border: none;
  background: #222222;
  height: 30px;
  width: 32px;
  margin: 0;
  padding: 3px;
  outline: 0;
  cursor: pointer;
}

/*Message Bubbles*/

.sent, .received {
  border-radius: 6px;
  padding: 6px;
  margin: 12px 6px;
  max-width: 50%;
  color: white;
}

.sent {
  background: #DB2B39;
}

.received {
  background: #E28413;
  margin-left: auto;
}

.timestamp {
  margin: 3px;
  font-size: 9px;
  text-align: right;
}

.footer {
  flex: 0 0 auto;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 10px;
}

.credits {
  background: #FFFFFF;
}
